<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RandG Blog</title>
  <link rel="stylesheet" href="/assets/css/jass.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
  <header>
    <h1>Welcome to the RandG Blog</h1>
    <nav class="navLinks">
      <a href="/">Home</a>
      {{#if logged_in}}
        <a href="/blogpost">Dashboard</a>
        <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </nav>
  </header>
  <main>
    <div class="blog">
      {{{body}}}
    </div>
  </main>
  {{#if logged_in}}
    <script src="/assets/js/logout.js"></script>
    <script src="/assets/js/add-post.js"></script>
    <script src="/assets/js/edit-post.js"></script>
  {{/if}}
</body>

</html>
